#wheelDiv {
    height: 400px;
    width: 400px;
    margin: auto;
}

#wheelDiv>svg {
    height: 100%;
    width: 100%;
}

@media (max-width: 600px) {
    #wheelDiv {
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 400px) {
    #wheelDiv {
        height: 300px;
        width: 300px;
    }
}

#simonlimos{
    background-color: coral;
    color: white;
    opacity: 0.5;
  }

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
      

/* Insert generated CSS code from here -> http://pmg.softwaretailoring.net */